@import "flexy.scss";
@import "nav.scss";
@import "form.scss";

h2 {
  font-size: 3em;
  padding: 3em 0 1em 0;
  text-align: center;
  @media screen and (max-width: 768px) {line-height: 1.2em; padding-top: 2.5em;}
}

p{
  font-family: Arial;
  font-size: 1em;
  text-align: center;
}

.about {
  border: 2px solid $black;
  padding:  1em 2em;
  margin: 1em 0 1em 0;

  @media screen and (max-width: 768px) {margin: 0em;}
}

.services {
  h3 {
    font-size: 2.5em;
    padding: 0.1em 0;
  }
  object {
    width: 200px;
    padding-bottom: 1.5em;
  }

  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  grid-auto-rows: minmax(100px, auto);
  @media screen and (max-width: 768px) {grid-template-columns: 1fr; margin-top: 1em;}
}

.ser_type {
padding: 1em;
border-bottom: 2px solid $black;
border-top: 2px solid white;
border-left: 2px solid white;
border-right: 2px solid white;
}

.center_ser {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
p {
  line-height: 1.2em;
  padding: 1em 0 1em 0;
}
}


.list{
  ul{
    padding: 0 1em;
  }
  li{
    font-family: Arial;
    list-style-type: disc;
    padding: 0.2em 0;
  }
}

.map {
  h2 {
    padding-top: 0.5em;
    @media screen and (max-width: 768px) {font-size: 1.8em; padding-top: 0.2em;}
  }
  img{
    width: 100%;
  }
}

.pictures {
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 768px) {grid-template-columns: repeat(2, 1fr); margin-bottom: 1em;}
  img {
    width: 100%;
  }
}
